<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ScummVMwrapperConfig.app</key>
		<dict>
			<key>Type</key>
			<string>Self</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/game.icns</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/old.icns</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/game</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/saves</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/ReadMe.txt</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>f7580f0cd90fb26af5e88815353b1a40</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/GameIDs.txt</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>eceea3a4abde33b17675af9fe680e05e</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/MacOS</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/scummvm</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/residual</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/scumm_w</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>fa4fb36b6a51b5bc2bab2ff2b5332dcf</string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Info.plist</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
	</dict>
</dict>
</plist>
