<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Game Name</string>
	<key>CFBundleExecutable</key>
	<string>scumm_w</string>
	<key>CFBundleIconFile</key>
	<string>game.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.dotalux.scummwrapper.game_identifier</string>
	<key>CFBundleName</key>
	<string>game_identifier</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1-1.2.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>false</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright dotalux.com</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SVWAspectRatio</key>
	<false/>
	<key>SVWEnableSubtitles</key>
	<true/>
	<key>SVWFullScreen</key>
	<false/>
	<key>SVWGFXMode</key>
	<string>1x</string>
	<key>SVWLanguage</key>
	<string>en</string>
	<key>SVWMusicVolume</key>
	<integer>192</integer>
	<key>SVWSFXVolume</key>
	<integer>192</integer>
	<key>SVWSpeechVolume</key>
	<integer>192</integer>
	<key>SVWEngineType</key>
	<integer>0</integer>
	<key>SVWExtraArguments</key>
	<string></string>
	<key>SVWEnableSw3DRenderer</key>
	<false/>
	<key>SVWEnableFpsCounter</key>
	<false/>
	<key>SVWEnableSpeech</key>
	<true/>
</dict>
</plist>
