<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ScummVMwrapperConfig.app</key>
		<dict>
			<key>Type</key>
			<string>Self</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Info.plist</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/MacOS</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/scummvm</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>aa87dcc6e1cfe37770034eae5ce203d1</string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/residual</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>bcec3a85b4f4b7a06b101ec65448b948</string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/MacOS/scumm_w</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>87ed10312fbaf0854fb720b29da27731</string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/PkgInfo</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>23b7d7d024abb0f558420e098800bf27</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/en.lproj</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/en.lproj/Credits.rtf</key>
		<dict>
			<key>Type</key>
			<string>file</string>
			<key>Checksum</key>
			<string>8646916aec7f9c2f5a052eb73156c00e</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/en.lproj/InfoPlist.strings</key>
		<dict>
			<key>Type</key>
			<string>file</string>
			<key>Checksum</key>
			<string>51ef59b60e5b41b91519cc662a9fe886</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/en.lproj/MainMenu.nib</key>
		<dict>
			<key>Type</key>
			<string>file</string>
			<key>Checksum</key>
			<string>f2fe944dd42dfbef1dc66849c1934bd6</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/game.icns</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/old.icns</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/game</key>
		<dict>
			<key>Type</key>
			<string>Dir</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/saves</key>
		<dict>
			<key>Type</key>
			<string>Ignore</string>
			<key>Checksum</key>
			<string></string>
			<key>Permissions</key>
			<integer>509</integer>
		</dict>
		<key>Contents/Resources/ReadMe.txt</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>f7580f0cd90fb26af5e88815353b1a40</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
		<key>Contents/Resources/GameIDs.txt</key>
		<dict>
			<key>Type</key>
			<string>File</string>
			<key>Checksum</key>
			<string>eceea3a4abde33b17675af9fe680e05e</string>
			<key>Permissions</key>
			<integer>436</integer>
		</dict>
	</dict>
</dict>
</plist>
